<stix-card class="full">
  <h2><%= component_instance_title(@component) %></h2>
  <% @component.display_fields.each do |lbl, field| %>
    <%= render_generic_template(field, lbl, 3) %>
  <% end %>
  <% if @component.description %>
    <p class="description"><%= @component.description.value -%></p>
  <% end %>
</stix-card>
