<% content_for(:toolbar) do %>
  <%= render '/layouts/top_nav', :components => [component_title(@active_component.name).pluralize, [component_instance_title(@component), component_path(@component)], "Find Connections"] %>
<% end %>

<div id="graph-controls">
  <label for="find">Find Connections To&hellip;</label>
  <stix-autocomplete id="graph-target" url="/autocomplete?includeClasses=true"></stix-autocomplete>
</div>

<div id="graph-canvas">

</div>

<% content_for(:javascript) do %>
  <script>
    $(document).ready(function() {
      window.viz = new FindConnections({nodes: [{title: "<%=component_instance_title(@component)-%>", type: "<%=@component.class.to_s-%>", id: <%= @component.node.neo_id-%>}], edges: []});
      $('#graph-target').on('itemSelected', function(e) {
        window.viz.selectItem(e.originalEvent.detail);
      });
    });
  </script>
<% end %>
