<% content_for(:toolbar) do %>
  <%= render '/layouts/top_nav', :components => [component_title(@active_component.name), component_instance_title(@component)] %>
<% end %>

<%= render '/components/header' %>

<div id="double-column">
  <% if top_level_structures(@component) %>
    <% top_level_structures(@component).each do |method, object| %>
      <% object = object.dereference if object.respond_to?(:idref) -%>
      <% if object.present? %>
        <%= render '/components/top_level_structure', :object => object, :method => method %>
      <% end %>
    <% end %>
  <% end %>
</div>

<h1 class="embed">Relationships</h1>

<div id="double-column">
  <%= render '/components/generic_footer' %>
</div>
