<% if indicator.observable.present? %>
  <stix-card component="observable">
    <h2><%= observable_type(indicator.observable.dereference) -%></h2>
    <%= render_observable(indicator.observable.dereference) %>
  </stix-card>
<% elsif indicator.composite_indicator_expression.present? %>
  <stix-card component="indicator">
    <h2><%= "Composition [#{indicator.composite_indicator_expression.operator}]" -%></h2>
    <div class="card-content">
      <%= render '/indicators/composition', :expression => indicator.composite_indicator_expression, :heading_level => (heading_level+1) %>
    </div>
  </stix-card>
<% elsif indicator.test_mechanisms %>
  <stix-card component="indicator">
    <h2>Test Mechanisms</h2>
    <div class="card-content">
      <p class="message">Not supported</p>
    </div>
  </stix-card>
<% else %>

<% end %>
