ul.component-list {
  list-style-type: none;
  text-align: left;
  padding: 0 0 10px;
  li {
    padding: 0;
    font-size: 1.1em;
    line-height: 1.3;
    &:first-child {
      padding-top: 0;
    }
  }
}

li > section.content {
  padding: 0;
}

.relationships > .col-md-6 > section {
  margin-top: 20px;
  h3 {
    margin-top: 0;
  }
  &:first-child {
    margin-top: 0;
  }
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.field-label {
  font-size: 18px;
  padding: 5px 0;
  margin-left: 10px;
  border-left: 3px solid #ddd;
  padding-left: 10px;
  margin-bottom: 0;
  font-weight: normal;
  overflow-wrap: break-word;
  position: relative;

  &:first-child,  {
    padding-top: 0;
    margin-top: 10px;
  }

  &:last-child,  {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  span.lbl {
    display: block;
    width: 130px;
    float: left;
    color: #666;
  }

  span.field {
    margin-left: 140px;
    display: block;
  }
}

stix-card {
  margin: 25px;
  padding: 0;
  width: calc(100% - 50px);
}

.double-column {
  -webkit-columns: 300px 2;
  -moz-columns: 300px 2;
  columns: 300px 2;
}

h1.embedded {
  color: #666;
  font-size: 36px;
  margin: 24px auto;
}

p.message {
  text-align: center;
  color: #aaa;
  font-size: 18px;
}

#actions, #markings {
  display: inline-block;
  paper-button {
    color:#337ab7;

    core-icon {
      position: relative;
      top: -2px;
      margin-right: 5px;
    }
  }
}

#markings {
  float: right;
}

.footer {
  background-color: #eee;
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
  bottom: -7px;
}
