nav ol {
  margin: 18px 0;
  padding: 0;
}

nav ol li {
  display: inline-block;
  margin-left: 20px;
  font-size: 24px;
  padding-left: 0;

  span, a, a:visited {
    color: white;
    opacity: 0.7;
    transition: opacity 0.2s;
  }

  a:hover, a:active {
    opacity: 1;
  }

  &:last-child {
    span, a, a:visited {
      opacity: 1;
    }
  }

  > core-icon {
    margin-bottom: 1px;
  }
}

core-scaffold > div.toolbar {
  position: absolute;
  top: 0;
  left: -10px;
  right: -10px;
  bottom: 0;
}
