<nav id="topnav" class="<%= @active_component.nil? ? 'generic' : component_color(@active_component, 'bgcolor') -%> col-md-12">
  <ol>
    <%= components.map {|comp|
        if comp.length == 2
          "<li>#{link_to(h(comp[0]), comp[1])}</li>"
        else
          "<li><span>#{h(comp)}</span></li>"
        end
      }.join("<li><core-icon icon='chevron-right'></core-icon></li>").html_safe
     %>
  </ol>
</nav>
